
<section class="title">
    <h1 class="animate__animated animate__slideInLeft">Clinic Management System</h1>
</section>

<div id="doctorPatientButtons">


<button type="button" class="btn btn-primary btn-lg">Doctor</button>
<button type="button" class="btn btn-secondary btn-lg">Patient</button>
</div>