
<section class="topPage">
    <h1 id="title" class="animate__animated animate__flipInX">Clinic Management System</h1>
</section>

<div id="doctorPatientButtons">


<a href="/doctor"><button type="button" class="btn btn-primary btn-lg">Doctor</button></a>
<button type="button" class="btn btn-secondary btn-lg">Patient</button>
</div>