#signupForm{
    width: 20%;
    margin: auto;
    
}
#doctorPatientButtons{
   
    
    text-align: center;
    margin-top:10%;
}

main {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.card mb-3 {
    padding-left: 2rem;
}

.col-md-4 {
    border: 2px solid black;
    border-radius: 1rem;
}

.col-md-8 {
    border: 2px solid black;
    border-radius: 1rem;
}

.col-md-6 {
    display: flex;
    padding-left: 10rem;
}

.container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addPatient {
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 5%;
}

.container .btn.btn-primary {
    height: 20rem;
    border: 2px solid black;
    border-radius: 1rem;
}


