body{
    background-color: #97C1EA;
    }
    
#signupForm{
    width: 20%;
    margin: auto;
    
}
#doctorPatientButtons{
    text-align: center;
}

#title {
    margin-top: 15rem;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-style: oblique;
    font-weight: bolder;
}

div.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
div.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input.btn.btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn {
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    padding-bottom: 2rem;
}


.card-body {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 1rem;
}

.addPatient {
    width: 100%;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 5%;
}

.listTitle{
    margin-right: 40%;
    font-weight: 20px;
    color: blue;
  }
  
  .list{
    margin-left: 40%;
  }
  
  .patientId {
    border: 2px solid black;
    margin-right: 20px;
    margin-top: 5px;
    background-color: lightblue;
  }
  
  .listChart {
    margin-top: 30px;
    border: 2px solid black;
    width: 300px;
  }
  
  .names{
    display: inline-flex;
    margin-left: 5px;
  }

#patientChartColumns h4{

    padding: 10px; 
    justify-content: left;}
    /* #patientChartColumns h4 */
#patientChartColumns h2{
    font-size: 35px;
    justify-content: center;
    font-weight:500;
    color: blue;
  }
  #patientChartColumns ul{
    padding-left: 0%;
  }
  #patientChartColumns h3{
    font-size: 30 px;
    justify-content: center;
    font-weight:600;
  }